/* @media screen and (max-width: 768px) { */

body {
  background: #f9f7fe;
  font-family: 'Roboto', sans-serif;
  background-image: url('../assets/sky2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: rgb(243, 118, 243);
}

.weather-app {
  background: rgba(255, 255, 255, 0.822);
  max-width: 600px;
  margin: 3rem auto;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: rgb(243, 118, 243);
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 1.5rem 0;
}

.current-temperature {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: rgb(243, 118, 243);
}

.current-temperature-icon {
  position: relative;
  top: -8px;
  height: 4.5rem;
  margin-top: 2.1rem;
}

.current-temperature-value {
  font-size: 6rem;
  font-weight: 500;
}

.current-temperature-unit {
  font-size: 2rem;
  position: relative;
  top: -2.25rem;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}
